:root {
  --body-background-color: #f5f6f7;
  --font-color: #4e4e4e;
  --border-gray-color: #dadada;
  --main-blue-color: #3498db;
  --main-blue-border-color: #2693db;
}

html {
  font-size: 10px;
  font-family: "Noto Sans KR", sans-serif;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0px 0px;
}
p {
  padding: 0;
  margin: 0;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
.section_content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  width: 600px;
  /* min-width: rem; */
  max-width: 410px;
  height: 100%;
  margin: 0 0 25px 0;
  padding: 15px;
  font-size: 2.4rem;
  color: #4b4a4a;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.store_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.btn_store_fav {
  position: absolute;
}
.fa-heart {
  color: #d44b4b;
  font-size: 3rem;
  padding-top: 4px;
}
.star_div {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}
.star_div i {
  color: #f1c40f;
  margin-left: 5px;
}
.fa-heart:hover {
  color: #e68181;
  transition: all 0.3s;
}
.fa-heart.active {
  color: #d44b4b;
}
.store_info {
  margin-left: 50px;
}
.store_info span {
  display: block;
  width: 100%;
  font-weight: 600;
  padding-bottom: 5px;
  font-size: 2.4rem;
}
.store_info span:last-child {
  font-size: 1.8rem;
  color: rgb(131, 131, 131);
}
.store_detail_div {
  margin-top: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}
.store_detail {
  padding: 13px 18px;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: var(--main-blue-color);
  color: #fff;
  border-radius: 5px;
}
.store_detail:hover {
  background-color: rgb(172, 180, 184);
}

/* .blind {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(0, 0, 0, 0);
  } */
/* 
.star-input{
    white-space: nowrap;
}
.star-input>.input{
    display:inline-block;
    width: 100px;
    background-size: 100px;
    height: 19px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.star-input>.input>input{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.star-input>.input.focus{
    outline: 1px dotted #ddd;
}
.star-input>.input>label{
    width: 10px;
    height: 0;
    padding: 19px 0 0 0;
    overflow: hidden;
    float: left;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{
    background-size: 100px;
    background-position: 0 bottom;
}
.star-input>.input>label:hover~label{
    background-image: none;
}
.star-input>.input>label[for="p1"]{ 
    width: 10px;
    z-index: 10;
}
.star-input>.input>label[for="p2"]{ 
    width: 20px;
    z-index: 9;
}
.star-input>.input>label[for="p3"]{ 
    width: 30px;
    z-index: 8;
}
.star-input>.input>label[for="p4"]{ 
    width: 40px;
    z-index: 7;
}
.star-input>.input>label[for="p5"]{ 
    width: 50px;
    z-index: 6;
}
.star-input>.input>label[for="p6"]{ 
    width: 60px;
    z-index: 5;
}
.star-input>.input>label[for="p7"]{ 
    width: 70px;
    z-index: 4;
}
.star-input>.input>label[for="p8"]{ 
    width: 80px;
    z-index: 3;
}
.star-input>.input>label[for="p9"]{ 
    width: 90px;
    z-index: 2;
}
.star-input>.input>label[for="p10"]{ 
    width: 100px;
    z-index: 1;
}
.star-input>output{
    display: inline-block;
    width: 36px;
    text-align: right;
}
.star-input>output>b{
    font:bold 18px Helvetica, Arial, sans-serif;
    vertical-align: middle;
}
.star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{
    display: inline-block;
    vertical-align: top;
} */
