/* color{
  blue : #3498db
} */

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}
header {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  padding: 8px 12px;
}
.navbar_toggleBtn {
  display: none;
}
.navbar_menu {
  display: flex;
  padding-left: 0;
}
.navbar_menu a {
  color: white;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar li:hover,
.navbar_user:hover {
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 5px;
}
.navbar_user {
  display: flex;
  align-items: center;
  color: white;
}
.navbar_user i,
.user_name {
  padding: 5px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_menu.active {
    display: flex;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navbar_toggleBtn {
    display: block;
    font-size: larger;
    color: white;
    transition: all ease 0.5s;
  }
  .navbar_toggleBtn:hover {
    transform: rotate(90deg);
  }
  .navbar_user {
    position: absolute;
    right: 10px;
  }
}
