body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
}
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_user {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}
