:root {
  --body-background-color: #f5f6f7;
  --font-color: #4e4e4e;
  --border-gray-color: #dadada;
  --main-blue-color: #3498db;
  --main-blue-border-color: #2693db;
}

html {
  font-size: 10px;
  font-family: "Noto Sans KR", sans-serif;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0px 0px;
}
p {
  padding: 0;
  margin: 0;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
.section_content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  width: 600px;
  /* min-width: rem; */
  max-width: 410px;
  height: 130px;
  margin: 0 0 25px 0;
  padding: 15px;
  font-size: 2.4rem;
  color: #4b4a4a;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.store_row {
  /* 6/13 수정*/
  display: flex;
  justify-content: left;
}

.btn_store_fav {
  /* 6/13 수정*/
  display: flex;
  margin-right: 5px;
}
.fa-heart {
  color: #d44b4b;
  font-size: 3rem;
  padding-top: 4px;
}
.fa-heart:hover {
  color: #e68181;
  transition: all 0.3s;
}
.fa-heart.active {
  color: #d44b4b;
}

.store_info span {
  /* 6/13 수정*/
  display: block;
  font-weight: 600;
  width: 100%;
  padding-bottom: 5px;
  font-size: 2.4rem;
}
.store_info span:last-child {
  /* 6/13 수정*/
  width: 340px;
  font-size: 1.8rem;
  color: rgb(131, 131, 131);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.store_detail_div {
  margin-top: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}
.store_detail {
  padding: 13px 18px;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: var(--main-blue-color);
  color: #fff;
  border-radius: 5px;
}
.store_detail:hover {
  background-color: rgb(172, 180, 184);
}

/* 6/13 수정 이 아래 복붙해주세요 */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .store_info {
    margin-left: 0;
  }
  .store_name {
    margin-left: 20px;
  }
  .store_info span {
    font-size: 1rem;
  }
  .store_info span:last-child {
    font-size: 0.5rem;
    width: 145px;
  }
  .section_content {
    font-size: 1rem;
    height: 80px;
  }
  .fa-heart {
    font-size: 1.5rem;
  }
  .store_detail {
    font-size: 0.5rem;
  }
  .store_name {
    margin: 0;
  }
  .btn_store_fav {
    padding: 0;
  }
  .store_detail {
    padding: 9px;
  }
}
@media all and (max-width: 479px) {
  .store_info span {
    font-size: 2rem;
  }
  .store_info span:last-child {
    font-size: 1.4rem;
    width: 250px;
  }
  .section_content {
    font-size: 2rem;
    height: max-content;
  }
  .fa-heart {
    font-size: 2.5rem;
  }
  .store_detail {
    font-size: 1.3rem;
  }
}
