@charset "EUC-KR";

* {
  font-family: "Noto Sans KR", sans-serif;
}
html {
  font-size: 10px;
  font-family: "Noto Sans KR", sans-serif;
  /* min-width: 100rem; */
}
body {
  margin: 0;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}
header {
  /* 6/13 수정*/
  top: 0;
  position: absolute;
  position: fixed;
  z-index: 5;
  width: 100%;
  box-sizing: border-box;
  background-color: #3498db;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select {
  cursor: pointer;
  outline: none;
  border-color: rgba(153, 153, 153, 0.527);
}

/*header*/
.wrap_header {
  display: flex;
  justify-content: space-between;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  font-size: 1.9rem;
  font-weight: 600;
  width: 100%;
  z-index: 3; /* 6/13 수정*/
}
.navbar_toggleBtn {
  display: none;
}
.navbar_menu {
  display: flex;
  padding-left: 0;
}
.navbar_menu a {
  color: white;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar li:hover,
.wrap_user:hover {
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 5px;
  cursor: pointer;
}

/* user profile */
.user_area {
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
}
.wrap_user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  color: white;
}
.wrap_user i,
.wrap_user span {
  font-size: 2rem;
}
.wrap_user span {
  padding: 0 2px;
}
.user_area .user_menu {
  position: absolute;
  top: 120px;
  width: 200px;
  height: 270px;
  right: 15px;
  background: rgba(227, 229, 231, 0.966);
  border-radius: 20px;
  transition: 0.5s;
  text-align: center;
  display: none;
  /* visibility: hidden; */
  opacity: 0;
}
.user_area .user_menu.active {
  top: 80px;
  display: block;
  /* visibility: visible; */
  opacity: 1;
  cursor: pointer;
  z-index: 1;
}
.user_area .user_menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: rgba(227, 229, 231, 0.966);
  transform: rotate(45deg);
}
.user_menu > i,
.user_menu > span {
  display: block;
  font-size: 2rem;
}
.user_menu > span {
  padding: 10px;
  font-weight: 600;
}
.user_menu .fa-smile {
  margin: 40px 0 10px 0;
  font-size: 9rem;
  color: #3498db;
}
.log-out {
  display: flex;
  justify-content: center;
  color: rgba(41, 39, 39, 0.651);
  padding-top: 10px;
}
.btn_log_out {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.log-out i {
  font-size: 1.5em;
  margin-right: 10px;
  color: rgba(238, 188, 95, 0.993);
}
.btn_log_out:hover {
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 5px;
  cursor: pointer;
}

/* logo */
.logo {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
/* 왼쪽 메뉴 화면 */
.menu_sec {
  position: absolute; /* 6/13 수정*/
  display: none;
  float: left;
  width: 100%;
  max-width: 460px;
  height: 100vh;
  background-color: #ddf1ff;
  box-shadow: 1px 0 2px rgb(0 0 0 / 25%);
  overflow: auto;
  padding: 20px;
}
.menu_sec.active {
  display: block;
  z-index: 2; /* 6/13 수정*/
}
.menu_deco {
  display: flex;
  justify-content: center;
}
.menu {
  display: none;
  padding-bottom: 70px;
}
.menu.active {
  display: block;
}
.menu .title_fix {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  font-size: 2rem;
}

/* loding 화면  */
.loading-image {
  display: none;
}
.loading-image.active {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  margin-left: -140px;
  display: block;
}
/* 오른쪽 가맹점 검색 메인 화면 */
main {
  padding-top: 60px;
  width: 100%;
}
.search_sec {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.search > div {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}
.search_sec > i,
.search_sec > span {
  display: inline;
}
.logo_a > span {
  font-size: 40px;
}
.search_area_div * {
  margin-right: 5px;
}
.search_area_div button {
  background: #c4c2c2;
  border-radius: 15px;
  color: white;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  width: 8rem;
  transition: all 0.3s;
}
.search_area_div button:hover {
  background: #1abc9c;
}
.search_select_div select {
  padding: 3px;
  width: 200px;
  margin: 0 5px;
  font-size: 1.5rem;
}
.search_button_div button {
  background: #c4c2c2;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  width: 15rem;
  height: 4rem;
  transition: all 0.3s;
}

.search_button_div button:hover {
  background: #3498db;
}
/* 반응형 */



/* 6/13 수정 이 아래부터 다시 복붙해주세요 */

/* 모바일 가로 */
@media screen and (min-width: 480px) and (max-width: 768px) {
  html {
    font-size: 0.4rem; 
  }
  body {
    overflow: auto;
  }
  main {
    padding-top: 15px;
  }
  .wrap_user {
    padding: 0;
  }
  .navbar {
    padding: 1px 7px;
  }
  .navbar_menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .navbar_menu li {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
  }
  .navbar.active {
    width: 100%;
  }
  .navbar_menu.active {
    display: flex;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .user_area.active {
    display: none;
  }
  .navbar_toggleBtn {
    display: block;
    font-size: larger;
    color: white;
    transition: all ease 0.5s;
  }
  .navbar_toggleBtn:hover {
    transform: rotate(90deg);
  }
  .wrap_user span {
    padding: 0;
  }
  .user_name {
    display: none;
  }

  .logo span,
  .logo i {
    font-size: 2rem;
  }
  .area_change_btn {
    margin-left: 5px;
  }
  .menu_sec.active {
    max-width: 30%;
    display: block;
  }
  .menu.active {
    max-width: 100%;
  }
  .menu > div > div {
    max-width: 81%;
  }
  .search_sec {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .search > div {
    padding-top: 5px;
  }
  .search_area_div button {
    font-size: 0.8rem;
    width: 6rem;
  }
  .search_select_div select {
    width: 150px;
    font-size: 1rem;
  }
  .search_button_div button {
    font-size: 1.3rem;
    width: 10rem;
    height: 3rem;
  }
} /* 모바일 가로 끝 */

/* 모바일 세로 */
@media all and (max-width: 479px) {
  html {
    font-size: 0.6rem;
    overflow: hidden;
  }
  body {
    overflow: hidden;
    max-width: 100%;
  }
  main {
    padding-top: 30px;
  }
  .wrap_user {
    padding: 3px;
  }
  .navbar {
    padding: 5px 7px;
  }
  .navbar_menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .navbar_menu li {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
  }
  .navbar.active {
    width: 100%;
  }
  .navbar_menu.active {
    display: flex;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .user_area.active {
    display: none;
  }
  .navbar_toggleBtn {
    display: block;
    /* font-size: larger; */
    color: white;
    transition: all ease 0.5s;
  }
  .navbar_toggleBtn:hover {
    transform: rotate(90deg);
  }
  .user_area {
    padding: 0;
  }
  .user_name {
    display: none;
  }
  .logo span,
  .logo i {
    font-size: 2.3rem;
  }
  .search_sec {
    font-size: 1.5rem;
  }
  .area_change_btn {
    margin-left: 5px;
  }
  .menu_sec.active {
    max-width: 90%;
    display: block;
  }
  .menu.active {
    max-width: 100%;
  }
  .search > div {
    padding-top: 5px;
  }
  .menu > div > div {
    max-width: 90%;
  }
  .user_area .user_menu.active {
    top: 63px;
    width: 150px;
    height: 150px;
    right: 8px;
  }
  .user_area .user_menu::before {
    right: 20px;
    width: 14px;
    height: 14px;
  }
  .user_menu .fa-smile {
    font-size: 4rem;
    margin: 20px 0 0 0;
  }
  .user_menu > span {
    font-size: 1.5rem;
  }
  .log-out {
    padding-top: 0;
  }
  .btn_log_out {
    font-size: 1.5rem;
  }
}