:root {
  --body-background-color: #f5f6f7;
  --font-color: #4e4e4e;
  --border-gray-color: #dadada;
  --main-blue-color: #3498db;
  --main-blue-border-color: #2693db;
  --main-blue-hover-color: #053864d5;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  /*display: flex;*/
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  overflow: hidden;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  /* color: black; */
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
select {
  cursor: pointer;
  outline: none;
  border-color: rgba(153, 153, 153, 0.527);
}
/*header*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  background-color: #3498db;
}
.wrap_header {
  display: flex;
  justify-content: space-between;
}
main {
  display: flex;
  padding-top: 60px;
  width: 100%;
  height: 100vh;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  font-size: 1.9rem;
  font-weight: 600;
  width: 100%;
}
.navbar_toggleBtn {
  display: none;
}
.navbar_menu {
  display: flex;
  padding-left: 0;
}
.navbar_menu a {
  color: white;
}
.navbar_menu li {
  padding: 8px 12px;
}
.navbar li:hover,
.wrap_user:hover {
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 5px;
  cursor: pointer;
}
/* 
.navbar_user {
  display: flex;
  align-items: center;
  color: white;
}
.navbar_user i,
.user_name {
  padding: 5px;
} */
/* user profile */
.user_area {
  display: flex;
  /* padding: 8px 12px; */
  font-size: 1.7rem;
  font-weight: 500;
}
.wrap_user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  color: white;
}
.wrap_user i,
.wrap_user span {
  font-size: 2rem;
}
.wrap_user span {
  padding: 0 2px;
}
.user_area .user_menu {
  position: absolute;
  top: 120px;
  width: 200px;
  height: 270px;
  right: 15px;
  background: rgba(227, 229, 231, 0.966);
  border-radius: 20px;
  transition: 0.5s;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}
.user_area .user_menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  z-index: 1;
}
.user_area .user_menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: rgba(227, 229, 231, 0.966);
  transform: rotate(45deg);
}
.user_menu > i,
.user_menu > span {
  display: block;
  font-size: 2rem;
}
.user_menu > span {
  padding: 10px;
  font-weight: 600;
}
.user_menu .fa-smile {
  margin: 40px 0 10px 0;
  font-size: 9rem;
  color: #3498db;
}
.log-out {
  display: flex;
  justify-content: center;
  color: rgba(41, 39, 39, 0.651);
  padding-top: 10px;
}
.btn_log_out {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.log-out i {
  font-size: 1.5em;
  margin-right: 10px;
  color: rgba(238, 188, 95, 0.993);
}
.btn_log_out:hover {
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 5px;
  cursor: pointer;
}
/* 왼쪽 메뉴 화면 */
.menu_sec {
  display: none;
  float: left;
  flex: 2;
  width: 100%;
  max-width: 460px;
  height: 100vh;
  background-color: #ddf1ff;
  box-shadow: 1px 0 2px rgb(0 0 0 / 25%);
  overflow: auto;
  padding: 20px;
}
.menu_sec.active {
  display: block;
}
.menu_deco {
  display: flex;
  justify-content: center;
}
.menu {
  display: none;
  padding-bottom: 70px;
}
.menu.active {
  display: block;
}
.menu .title_fix {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.title_fix h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
/* 오른쪽 회원 정보 수정 메인 화면 */
.all_user_info {
  display: flex;
  flex: 3;
  justify-content: center;
}
.all_user_info_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.all_user_info_wrap h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 30px;
}
.all_user_info_wrap h1 a {
  color: black;
}
.all_user_info_wrap h2 {
  font-size: 3em;
  color: var(--main-blue-color);
  columns: #fff;
  text-align: center;
  margin-bottom: 80px;
  padding: 0 20px;
}
.all-form {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 입력폼 */
h3 {
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}
.error_area {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: flex-end;
  display: block;
  position: relative;
  padding: 0 15px;
}
.box {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 2px;
  border: solid 1px #dadada;
  box-sizing: border-box;
  background: #fff;
  position: relative;
}
.int {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border: none;
  background: #fff;
  font-size: 15px;
}
.int:focus {
  outline: none !important;
  border: 2px solid var(--main-blue-color);
  border-radius: 2px;
  box-shadow: 0 0 0 0.5px #54a4da;
}
input {
  font-family: "Noto Sans KR", sans-serif;
  padding-left: 10px;
}
.pswdImg {
  width: 18px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -10px;
  cursor: pointer;
}
#content {
  padding: 50px 30px;
}
.user_column {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 17px;
}
.user_column:last-child {
  margin-bottom: 0;
}
.title_column {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 200px;
  font-size: 1.2em;
}
.title,
.title_column {
  font-weight: 600;
  color: #4e4e4e;
}
.fa-star-of-life {
  color: var(--main-blue-color);
  margin-left: 2px;
}
.int_id input {
  background-color: rgba(14, 99, 209, 0.068);
}
/* 에러메세지 */
.error_next_box {
  margin-top: 9px;
  font-size: 12px;
  color: red;
  display: none;
}
#alertTxt {
  position: absolute;
  top: 11px;
  right: 40px;
  font-size: 12px;
  color: red;
  display: none;
}
/* 버튼 */
.wrap_btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.wrap_btns input {
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 2em;
  font-weight: 600;
  border-radius: 3px;
  margin: 0 4px;
  cursor: pointer;
}
#cancel_btn {
  border: 1px solid rgb(167, 167, 167);
  background-color: rgb(167, 167, 167);
  transition: all 0.3s;
}
#cancel_btn:hover {
  background-color: rgb(110, 107, 107);
}
#modify_btn {
  background-color: var(--main-blue-color);
  transition: all 0.3s;
}
#modify_btn:hover {
  background-color: var(--main-blue-hover-color);
}
